<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand text-left col col-6" href="#">
        <img src="" alt="Logo"><span>Logo</span>
      </a>
      <div class="collapse navbar-collapse text-white col-md-auto" id="navbarSupportedContent">
        <a class="btn btn-sm btn-outline-secondary text-white mr-3 btn-h" routerLink="/login">User Login<i class="fa fa-wrench text-white"></i></a>
        <a class="btn btn-sm btn-outline-secondary text-white btn-h" routerLink="/logout">Log off<i class="fa fa-user text-white"></i></a>
      </div>
    </nav>
  </div>
</div>