<div class="container">
	<div class="row">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand" href="#">
				<img src="" alt="Logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars text-white"></i>
			</button>
			<div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
				<ul class="navbar-nav mr-5 ml-auto">
					<li class="nav-item active">
						<a class="nav-link mr-lg-2 text-white"  routerLink="/courses" routerLinkActive="active">Courses<span class="sr-only">(current)</span></a>
					</li>
				</ul>
				<a class="btn btn-sm btn-outline-secondary text-white mr-3 btn-h" routerLink="/login">Login <i class="fa fa-wrench text-white"></i></a>
				<a class="btn btn-sm btn-outline-secondary text-white btn-h" routerLink="/logout"> Logout <i class="fa fa-user text-white"></i></a>
			</div>
		</nav>
	</div>
</div>
