<div class="row" [appFreshCourse]="course.creationDate" [ngClass]="{'top-rated': course.topRated}">
  <div class="col-lg-5 col-xl-4">
    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Sample image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>

  <div class="col-lg-7 col-xl-8">

    <h3 class="font-weight-bold mb-3"><strong>{{ course.title | uppercase }}<i [ngClass]="{'fa fa-star': course.topRated}"></i></strong></h3>
    <div>{{ course.duration | durationForming }}, {{ course.creationDate | date: 'dd.MM.yyyy' }}</div>
    <p class="dark-grey-text">{{ course.description }}</p>
    <button class="btn btn-primary btn-md edit-course" type="button">Edit</button>
    <button class="btn btn-primary btn-md cancel-course" type="button" (click)="cancelCourse(course.id)">Delete</button>

  </div>
</div>
