<nav class="navbar navbar-dark sticky-top blue justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="/assets/angular-white-transparent.svg" alt="courses"><span>Courses</span>
  </a>
  <div class="my-1" id="navbarSupportedContent">
    <a class="btn btn-outline-white btn-sm my-0" (click)="onLogin()" *ngIf="!authorizationService.isAuthenticated()">User Login <i class="fa fa-wrench text-white"></i></a>
    <a class="btn btn-outline-white btn-sm my-0" (click)="onLogout()" *ngIf="authorizationService.isAuthenticated()">Log off <i class="fa fa-user text-white"></i></a>
  </div>
</nav>
