<nav class="navbar navbar-dark sticky-top blue justify-content-between">
  <a class="navbar-brand" href="#">
    <img src="/assets/angular-white-transparent.svg" alt="courses"><span i18n>Courses</span>
  </a>
  <div class="my-1" id="navbarSupportedContent">
    <a class="btn btn-outline-white btn-sm my-0" (click)="onLogin()" *ngIf="!this.authService.isAuthenticated()" i18n>User Login <i class="fa fa-wrench text-white"></i></a>
    <div class="user-info" *ngIf="this.auth">
      <span class="user-name"><span i18n="User welcome|An introduction header for this sample@@introductionHeader">Welcome</span> {{ userName }}! </span>
      <a class="btn btn-outline-white btn-sm my-0" (click)="onLogout()" i18n>Log off <i class="fa fa-user text-white"></i></a>
    </div>
  </div>
</nav>
