
header {
  background-color: red;

  nav {
    width: 100%;

    ul a:hover {
      text-decoration: underline;
    }
  }

  .navbar-brand {
    img { max-height: 36px; }
  }

  .btn-h {
    border-color: white;

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }
}